#card {
    height: 180px;
    width: 220px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    color: white;
}

.sousCard {
    height: 180px;
    width: 220px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
}

.sousCard:hover{
    background-color: hsl(236, 44%, 33%);
}

#ellipsis {
    position: absolute;
    right: 18px;
    top: 38px;
    scale: 0.8
}

.temps {
    font-size: 30pt;
}

@media screen and (max-width: 768px) {
    #card {
        width: 100%;
        max-width: 400px;
    }

    .sousCard {
        width: 100%;
    }

    .temps {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    #card {
        height: 160px;
    }

    .sousCard {
        height: 160px;
    }

    .temps {
        font-size: 1.8rem;
    }

    #ellipsis {
        top: 25px;
    }
}