#card {
    height: 180px;
    width: 220px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    color: white;
}

.sousCard {
    height: 180px;
    width: 220px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
   
}


